@model BigLinguaProject.UI.ViewModels.NotebookIndexViewModel

<h2>Notebooks</h2>

<div>
    <span>@Model.UserName </span>
    <span>@Html.ActionLink("Sign Out", "signout", "auth")</span>
</div>
<div>
    @if (Model.Notebooks.Count == 0) {
        <p style="color:grey;">
            [You do not have any notebooks now.]
        </p>
    } else {
        foreach (var notebook in Model.Notebooks) {
            <div style="border: 1px solid blue; margin: 5px; padding: 5px; width: 400px;">
                <div style="border: 1px solid grey; margin: 2px; padding: 2px;">Notebook</div>
                <div>@notebook.TargetLanguage.EnglishName - @notebook.BaseLanguage.EnglishName</div>
                <div>@notebook.TargetLanguage.Name - @notebook.BaseLanguage.Name</div>
            </div>
        }
    }
    <div id="addNotebookForm">
        <input id="addNotebookBtn" type="button" value="Add a notebook" 
               onclick="document.getElementsByTagName('form')[0].style.visibility = 'visible';
                        document.getElementById('addNotebookBtn').style.visibility = 'hidden';" />        
        @using (Html.BeginForm("add", "notebook", FormMethod.Post, new { style="visibility:hidden;"} )) {
            <label><b>Add a notebook</b></label>
            <br />
            <label>Language 1 (for learning):</label>
            @Html.DropDownList("TargetLanguage", new SelectList(Model.LangList))
            <br />
            <label>Language 2 (for explanations):</label>
            @Html.DropDownList("BaseLanguage", new SelectList(Model.LangList))
            <br />
            <input type="submit" value="Add" />
            <br />
        }
    </div>
</div>