@model BigLinguaProject.UI.ViewModels.NotebookIndexViewModel

<h2>Notebooks</h2>

<div>
    <span>@Model.UserName </span>
    <span>@Html.ActionLink("Sign Out", "signout", "auth")</span>
</div>
<div>
    @if (Model.Notebooks.Count == 0) {
        <p style="color:grey;">
            [You do not have any notebooks now.]
        </p>
    } else {
        foreach (var notebook in Model.Notebooks) {
            <div>
                <div>Notebook</div>
                <div>@notebook.TargetLanguage.EnglishName - @notebook.BaseLanguage.EnglishName</div>
                <div>@notebook.TargetLanguage.Name - @notebook.BaseLanguage.Name</div>
            </div>
        }
    }
    <div>
        <input id="addNotebookBtn" type="button" value="Add a notebook" />
        @using (Html.BeginForm()) {
            <label><b>Add a notebook</b></label><br />
        }
       
        <!--
        <form method="post" action="">
            <label><b>Add a notebook</b></label><br />
            <label>Language 1 (for learning):</label>
            <select>
               <option>English</option>
               <option>Русский / Russian</option>
               <option>Deutsch / German</option>
            </select><br />
            <label>Language 2 (for explanations):</label>
            <select>
                <option>English</option>
                <option>Русский / Russian</option>
                <option>Deutsch / German</option>
            </select><br />
            <input type="submit" value="Add" />
        </form>
        -->
    </div>
</div>